# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/

# Production
build
dist

# Debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Misc
.DS_Store
*.pem

# Vercel
.vercel

# ESLint
.eslintcache

# IDE (optional – remove .vscode if you commit shared settings)
.idea
